#topnav {
  display: flex;
  background-color: var(--secondary);
  color: var(--light-text);
}

#topnav a {
  color: var(--light-text);
}

#topnav a:hover {
  color: gray;
}

.navitem {
  display: flex;
  padding: 1.5em 2em 0.5em 2em;
  text-transform: uppercase;
  font-weight: 300;
}

.active {
  border-bottom: solid var(--ted-red);
}

.nav-links-container {
  display: flex;
  flex: 1;
  justify-content: center;
}
