#new-info-slide {
  background-color: whitesmoke;
}

#new-info-slide h1 {
  font-size: 48px;
}

#new-info-slide span {
  color: red;
  font-weight: bold;
}

#new-info-slide h3 {
  font-size: 24px;
  line-height: 1.5em;
}