#join-us-slide h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}


/* sm --- Small devices (landscape phones, 576px and up) */
@media (max-width: 900px) {
  #overlay {
    transform: 0;
  }
}

@media (min-width: 900px) {
  #overlay {
  transform: translateY(-50%);
}
  .speaker-card {
    max-width: 95%;
  }
  .speaker-img {
    height: 100% !important;
  }

}

/* md --- Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* xl --- Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
