.sponsors-image-panel {
  height: 650px;
  display: flex;
  margin: auto;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  background-image: url("../img/jessenitai.jpg");
  background-size: cover;
  background-color: rgb(30, 30, 30);
}

.sponsors-content {
  margin: 5% 10%;
}

.logos-container {
  display: flex;
  flex-direction: column;
}

.sponsor-logo-container {
  margin: 25px;
  padding: 25px;
}
