#team-container {
  color: whitesmoke;
  display: flex;
  width: 100%;
}

.team-member-info-container {
  padding: 50px;
}

.team-image-panel {
  height: 650px;
  display: flex;
  margin: auto;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  background-image: url("../img/pizzaro2.jpg");
  background-size: cover;
  background-color: rgb(30, 30, 30);
}

.team-image-panel > div {
  text-align: left;
}

.year-selector {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.year {
  padding: 5px;
  margin: 20px;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}

.team-display {
  display: none;
}

.team-display.active {
  display: flex;
  padding: 0px 100px 50px 100px;
  flex-direction: column;
}

.team-member-info {
  display: none;
}

.team-member-info.active {
  display: flex;
  flex-direction: column;
  border-left: solid #e62b1e thin;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

.team-member-info.active > * {
  width: 100%;
  line-height: 25px;
}

.team-display-pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  transition: all 0.2s;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin: 20px 20px 0px 20px;
}

.profile-pic.active {
  z-index: 1;
  filter: brightness(100%);
}

.select-indicator {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  background-image: url("../img/The_X.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}

.team-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.year-indicator {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom: solid #e62b1e thin;
}

.team-content-panel {
  padding-bottom: 50px;
  padding-top: 50px;
}

#about-first-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  /* background-color: #8a8a8a; */
}

#about-first-panel > p {
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .team-display-pics > * {
    flex: 1;
  }

  .half-width {
    width: 50%;
    margin: 50px;
  }
}

/* xl --- Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .team-display-pics > * {
    flex: 1;
  }

  .half-width {
    width: 50%;
  }
}

.team-gallery {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 100px 20%;
}
