.speaker-div {
    display: flex;
    flex-direction: column;
  }
  
.speaker-div > p {
    font-size: 1.5em;
  }
  
  .plain-a {
    color: white;
  }
  
  .plain-a:hover {
    color: white;
  }
  
  .speakers-container {
    margin: 5%;
    padding: 0px 5%;
  }