.faq {
  padding: 150px 5%;
  background-image: url("../img/logo2.png");
  background-size: cover;
  background-attachment: fixed;
}

.card-selector {
  transition: all 0.2s;
  padding: 10px 20px;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

.other-card {
  padding: 10px 20px;
  margin: 10px;
}

.text-red {
  color: #e62b1e;
}

.faq-selector-container {
  display: flex;
  flex: 1;
  margin: 30px;
  gap: 30px;
}

.faq-content {
  display: flex;
  flex-direction: column;
}

.faq-questions-container {
  flex: 2;
  margin: 20px;
}

.large-screen-only {
  display: none;
}

.card-selected {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-left: solid #08B2E3
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .faq-selector-container {
    display: flex;
    flex-direction: column;
  }

  .faq-content {
    display: flex;
    flex-direction: row;
  }

  .large-screen-only {
    display: block;
  }
}

/* sm --- Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* md --- Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .faq {
    padding: 150px 15%;
    background-image: url("../img/logo2.png");
    background-size: cover;
    background-attachment: fixed;
  }
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* xl --- Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
