.speakers-2019 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fitted-a {
  width: 70%;
  height: 70%;
}

.fitted-image {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.fitted-image:hover {
  opacity: 0.7;
}

.speaker-name {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}

.speaker-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.speakers-title-panel {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-evenly;
}

.hr {
  border-bottom: solid #e62b1e thin;
  width: 100%;
}

.center-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#speakers-scroll-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.scroll-nav-year {
  padding: 20px 50px;
  background: #e62b1e;
  transition: all 0.3s;
  cursor: pointer;
}

.scroll-nav-year.active {
  transform: scale(1.3);
}

.speakers-display {
  margin: 100px 200px;
}

.speakers-image-panel {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/logo1.png");
  background-size: cover;
  background-color: rgb(30, 30, 30);
}

.speakers-image-panel * {
  text-align: center;
}
