.main-profile-panel {
  height: 700px;
  display: flex;
  align-items: center;
}

#speaker-name-panel {
  background-color: #e62b1e;
  max-width: 50%;
  padding: 50px;
  margin: 50px;
}

#speaker-profile-desc {
  display: flex;
  flex-direction: column;
  padding: 100px 200px;
  box-shadow: 0 0 20px rgb(0, 0, 0.4);
}
#speaker-profile-desc p {
  font-size: 1.5em;
  text-align: left;
  margin: 10px;
}

.more-padding {
  padding-left: 15px;
}

.podcast-div {
  margin: 20px 0px 0px 10px;
  width: 75%;
}
