.bottom-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--light-text);
}

.bp-text {
  max-width: 500px;
  text-align: center;
}
