.logo {
  width: 200px;
  height: 60px;
  background-size: cover;
  position: absolute;
  top: 40px;
  left: 60px;
  z-index: 2; /* Stay on top */
  cursor: pointer;
}

.App {
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
}

.logoLink {
  height: 100%;
  width: 100%;
  z-index: 3;
}
