.image-text-overlap {
  padding: 100px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ito-txt {
  flex: 3;
}

.ito-img {
  flex: 4;
}

.image-text-overlap {
  flex-direction: column;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .image-text-overlap {
    flex-direction: row;
  }

  .ito-txt {
    margin-left: -50px;
  }
}

@media (min-width: 1200px) {
  .image-text-overlap {
    flex-direction: row;
  }
  .ito-txt {
    margin-left: -50px;
  }
}
