.rightnav-wrapper {
  position: fixed;
  top: 50px;
  right: 60px;
  color: whitesmoke;
  text-align: right;
  border-right: solid #e62b1e thin;
  padding-bottom: 30px;
  border-radius: 10px;
  font-size: 18px;
  z-index: 2;
  transform: scale(1.1);
}

a:hover {
  color: rgba(245, 245, 245, 0.616);
  text-decoration: none;
}

a {
  transition: all 0.1s ease;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.829);
}
