.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 190px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px;
  background-image: url("../img/tedx-outline-logo-sidebar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-logo {
  height: 50px;
  background-image: url("../img/WhiteLogoMin.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-icon {
  font-size: 20px;
}

.nav-footer {
  outline: solid black;
}

.nav-text-logo {
  color: #e62b1e;
  font-size: 100px;
}

/* STYLING FOR LINKS  */
a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #e62b1e;
}
